/* @import url("https://fonts.googleapis.com/css2?family=Tangerine&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Carattere&family=Kaushan+Script&display=swap"); */

/* @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Andika+New+Basic&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

:root {
  --color-primary: #fff;
  --color-secondary: #ffd700;
  --color-accent: #27224a;
  --footer-color: #b5b0b0;
  --color-headings: #707070;
  --color-body: #000;
  --open-sans: 'Open Sans Condensed', sans-serif;
  --abel-font: 'Abel', sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1,
h2,
h3 {
  font-family: var(--open-sans);
  font-weight: 600;
  letter-spacing: 3px;
}

/* Button Styles Starts */

input[type='date']:after {
  content: attr(placeholder);
}

.btn-primary {
  color: var(--color-secondary);
  font-weight: bold;
  background: none;
  border: none;
  padding: 0 1rem;
}

.btn-primary:hover {
  background: var(--color-secondary);
  color: var(--color-primary);
}

/* Button Styles Ends */

/* Navigation Styles Starts */

.navbar {
  min-height: 4rem;
}

.bg-dark,
.navbar-dark {
  background: var(--color-accent) !important;
  color: var(--color-primary);
}

/* Styles For The Link-Tag From Next-Js */
.home-link {
  display: flex;
  color: #fff !important;
}

.navigation-links {
  color: #fff !important;
  padding: 0px 14px !important;
  font-family: var(--abel-font);
  font-size: 1.1rem;
}

.navigation-links:hover {
  border-bottom: 1.5px solid var(--color-secondary);
  transition: border 1s ease;
}

.nav-button {
  border: 0;
  background: var(--color-secondary);
  color: var(--color-primary);
  font-size: 1rem;
  padding: 0px 2px;
  text-transform: uppercase;
  border-radius: 4px;
  margin: 0 0 0 4px;
  font-weight: 600;
  font-family: var(--abel-font);
  letter-spacing: 2px;
}

/* Navigation Styles Ends */

/* Heading Styles Starts */

.heading {
  color: var(--color-headings);
  display: inline-block;
  position: relative;
  margin-bottom: 0;
}

.welcome-text {
  padding: 0.5rem;
  font-family: 'Abel', sans-serif;
}

.welcome-note {
  text-align: center;
  position: relative;
}

.welcome-note .welcome-title {
  color: var(--color-headings);
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
  padding: 0.4rem 0;
  word-spacing: 1px;
}

.welcome-note .welcome-title::after {
  background: var(--color-secondary);
  content: '';
  height: 3px;
  left: 7rem;
  position: absolute;
  top: 2.5rem;
  width: 5rem;
}

.welcome-note p {
  padding: 0.5rem 1.2rem;
  font-size: 1.1rem;
  letter-spacing: 1px;
  text-align: justify;
  line-height: 1.6rem;
  font-family: 'Abel', sans-serif;
  margin: 0;
}

.welcome-note b {
  display: inline-block;
  padding: 0.5rem 0;
  font-family: var(--open-sans);
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 3px;
  color: var(--color-secondary);
}

@media screen and (min-width: 760px) {
  .welcome-note .welcome-title {
    color: var(--color-headings);
    display: inline-block;
    font-size: 2rem;
    margin: 0;
    padding: 1rem 0;
  }

  .welcome-note .welcome-title::after {
    background: var(--color-secondary);
    content: '';
    height: 3px;
    left: 11rem;
    position: absolute;
    top: 3.5rem;
    width: 7rem;
  }

  .welcome-note p {
    padding: 0rem 1rem;
    text-align: justify;
    font-size: 1.1rem;
    letter-spacing: 1px;
  }
}

/* Heading Styles Ends */

/* TOP nav styles Starts */

.top-nav {
  background: var(--color-primary);
  padding: 0.4rem;
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
}

.top-nav div a {
  color: #000;
  font-size: 1rem;
  padding: 0.4rem 0.6rem;
  font-family: 'Abel', sans-serif;
}

.top-nav a:nth-child(3) {
  color: #000;
  font-size: 1rem;
}

.top-nav a:nth-child(3) i {
  color: var(--color-secondary);
  font-size: 1rem;
}

@media screen and (min-width: 760px) {
  .top-nav {
    background: var(--color-primary);
    padding: 0.8rem;
    width: 100%;
    text-align: left;
    justify-content: start;
  }

  .top-nav a:nth-child(3) {
    color: var(--color-secondary);
    font-size: 1rem;
    border-left: 2px solid #000;
    font-family: var(--abel-font);
  }

  .lang-div {
    margin: 0 2rem 0 0;
  }

  .lang-div select {
    border: 0;
    font-family: var(--abel-font);
    font-size: 1rem;
  }

  .lang-div select option {
    border-radius: 10px;
  }
}

/* TOP nav styles Ends */

/* Showcase styles starts */

.showcase {
  background-image: url('../public/images/receiption.jpg');
  display: flex;
  background-size: 100% 100%;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  height: 100vh;
}

.showcase .subtitle {
  color: var(--color-accent);
  text-align: center;
  font-weight: 600;
  font-size: 1.1rem;
  padding: 0.5rem 0.1rem;
  font-family: var(--abel-font);
}

@media screen and (min-width: 760px) {
  .showcase .subtitle {
    text-align: center;
    font-size: 1.5rem;
    padding: 0rem 0.5rem;
  }

  .showcase {
    background-image: url('../public/images/receiption.jpg');
    display: flex;
    height: 80vh;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    justify-content: end;
  }
}

/* Showcase styles ends */

/* Featured Rooms style starts */

.featured-rooms {
  padding: 0.5rem 0;
  text-align: center;
  position: relative;
}

.position-container {
  position: relative;
}

.position-container h3 {
  color: var(--color-headings);
  padding: 0;
  font-size: 1.5rem;
  margin: 1rem 0;
}

.position-container h3::after {
  content: '';
  position: absolute;
  width: 5rem;
  height: 3px;
  background: var(--color-secondary);
  top: 3rem;
  left: 7.5rem;
}

@media screen and (min-width: 760px) {
  .position-container h3 {
    color: var(--color-headings);
    padding: 0;
    font-size: 2.5rem;
    margin: 0.5rem 0;
  }

  .position-container h3::after {
    content: '';
    position: absolute;
    width: 7rem;
    height: 3px;
    background: var(--color-secondary);
    top: 3.5rem;
    left: 32rem;
  }
}

/* Featured Rooms style ends */

/* Room card styles starts */

.room-card {
  padding: 1rem 1.5rem;
  position: inherit;
}

.card-img-overlay .room-price {
  position: absolute;
  top: 0;
  left: 0;
  background: var(--color-secondary);
  width: 6rem;
  padding: 0.2rem;
  border-bottom-right-radius: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  font-family: var(--abel-font);
}

.card-img-overlay .room-price span {
  font-weight: 600;
  display: block;
}

.card-img-overlay .card-title {
  position: absolute;
  bottom: 2rem;
  left: 1rem;
  font-family: var(--abel-font);
  font-weight: 600;
  font-size: 1.1rem;
  letter-spacing: 0.7px;
}

.room-price-div {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 3rem;
  width: 5rem;
  background: var(--color-secondary);
  border-top-left-radius: 10px;
}
.card-img-overlay a {
  position: absolute;
  bottom: 1rem;
  font-weight: 600;
  left: 1rem;
  color: var(--color-secondary);
  font-size: 0.8rem;
  padding: 0.1rem 0;
  font-family: var(--abel-font);
}

.card-img-overlay a::after {
  content: '';
  position: inherit;
  bottom: 0;
  left: 0.8rem;
  height: 2px;
  width: 1.5rem;
  background: var(--color-secondary);
}

.tsh-price {
  font-weight: 600;
  padding: 0.2rem 0.5rem;
  font-family: var(--abel-font);
}

/* Room card styles ends */

/* Button scroll from room featured starts */

.scroll-button {
  color: var(--color-headings);
  font-weight: 600;
  font-size: 2rem;
  position: relative;
  margin: 2rem 0;
  font-family: 'Abel', sans-serif;
}

.scroll-button::after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 2rem;
  height: 2.5px;
  left: 0;
  background: var(--color-secondary);
}

.scroll-button:hover {
  color: black;
}

/* Button scroll from room featured ends */

/* Testimonial Style starts */

.testimonial-section {
  position: relative;
}

.testimonial-header {
  text-align: center;
  padding: 1rem 0;
  font-size: 2rem;
  color: var(--color-primary);
  color: var(--color-headings);
}

.testimonial-header::after {
  content: '';
  position: absolute;
  top: 3.4rem;
  left: 6rem;
  width: 8rem;
  left: 8rem;
  width: 4rem;
  margin-bottom: 5px;
  height: 3px;
  background: var(--color-secondary);
}

.testimonial-card {
  background: linear-gradient(45deg, rgb(175, 171, 118), rgb(183, 223, 230));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 40rem;
}

.testimonial-card .testimonial-image {
  flex-basis: 100%;
  border-radius: 50%;
  padding: 0.3rem;
}

.testimonial-card .testimonial-image img {
  border-radius: 50%;
}

.testimonial-card .testimonial-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 350px;
  white-space: wrap;
}

.testimonial-content .testimonial-message {
  text-align: justify;
  padding: 0 0.5rem;
  font-style: italic;
  font-size: 1rem;
  font-family: var(--abel-font);
}

.testimonial-content .testimonial-message i {
  display: block;
  padding: 0.4rem 0;
  font-size: 2rem;
}

.testimonial-content .author {
  padding: 0.5rem;
  text-align: center;
  font-family: var(--abel-font);
}

.rec-arrow {
  background-color: var(--color-secondary);
}

@media screen and (min-width: 760px) {
  .testimonial-content .testimonial-message {
    text-align: justify;
    padding: 0 1.5rem;
    font-style: italic;
  }

  .testimonial-card {
    background: linear-gradient(45deg, rgb(175, 171, 118), rgb(183, 223, 230));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
  }

  .testimonial-section {
    background-image: url('../public//hotel.jpg');
    padding: 1rem;
  }

  .testimonial-content .author {
    padding: 0.5rem;
  }

  .testimonial-header {
    text-align: center;
    padding: 1rem 0;
    font-size: 3rem;
    color: var(--color-primary);
  }

  .testimonial-header::after {
    content: '';
    position: absolute;
    top: 5.5rem;
    left: 47%;
    width: 6rem;
    margin-bottom: 5px;
    height: 3px;
    background: var(--color-secondary);
  }
}

/* Testimonial Style ends */

/* Services section styles starts */
.services {
  padding-bottom: 3rem;
}

.services .services-header {
  text-align: center;
  color: var(--color-headings);
  font-size: 2rem;
  padding-top: 1rem;
  margin: 0;
  position: relative;
  margin: 0.5rem 0;
}

.services .services-header::after {
  content: '';
  position: absolute;
  top: 3.5rem;
  left: 8.2rem;
  width: 2rem;
  height: 3px;
  background: var(--color-secondary);
}

@media screen and (min-width: 760px) {
  .services .services-header {
    font-size: 2.5rem;
  }

  .services .services-header::after {
    content: '';
    position: absolute;
    top: 4rem;
    left: 12rem;
    width: 3rem;
    margin-bottom: 0px;
    height: 3px;
    background: var(--color-secondary);
  }
}

/* Services section styles ends */

/* Footer area style starts */

.footer {
  background: #b5b0b0;
  position: relative;
  padding-bottom: 2%;
}

.footer::before {
  content: '';
  background-image: url('../public/logo/Portsline\ logo-single-p.png');
  background-size: 100% 100%;
  display: inline-block;

  /*size of your image*/
  height: 8rem;
  width: 8rem;

  /*if you want to change the position you can use margins or:*/
  position: absolute;
  background-color: whitesmoke;
  border-radius: 50%;
  top: -4rem;
}

.footer-header {
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 2rem;
  color: var(--color-primary);
}

.foot-img {
  position: relative;
}

.footer-image {
  width: 30rem;
  border-radius: 50%;
  position: absolute;
}

.quick-links ul {
  padding: 0;
}

.quick-links ul li a {
  color: var(--color-primary);
  font-family: 'Abel', sans-serif;
}

.quick-links ul li a:hover {
  color: var(--color-secondary);
}

.contact-us {
  color: var(--color-primary);
}

.contact-us .social-icons i {
  margin: 0 0.6rem;
  color: #000;
}

.contact-us .social-icons i:hover {
  color: var(--color-primary);
  cursor: pointer;
}

.addresses {
  color: var(--color-primary);
  font-size: 1rem;
  margin: 1rem 0 0 0;
}

.addresses p {
  font-size: 0.9rem;
  font-family: 'Abel', sans-serif;
}

.map {
  color: var(--color-primary);
}

.map h6 {
  padding: 0.1rem 0;
}

@media screen and (min-width: 760px) {
  .addresses {
    color: var(--color-primary);
    font-size: 1rem;
    margin: 0;
  }

  .quick-links {
    padding: 0 0 0 2rem;
  }
}

/* Footer area style ends */

/* Bottom area style starts */
.bottom-area {
  border-top: 1px solid var(--color-primary);
  text-align: center;
}

.bottom-links {
  color: var(--color-primary);
  font-family: 'Abel', sans-serif;
  margin: 2rem 0.5rem;
}

.bottom-links:hover {
  color: #000;
}

@media screen and (min-width: 760px) {
  .bottom-area {
    border-top: 1px solid var(--color-primary);
    text-align: left;
  }

  .bottom-links {
    margin: 2rem 0.5rem;
    color: var(--color-primary);
  }
}
/* Bottom area style ends */

/* Banner styles starts */

.banner-text {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 8rem 0;
}

.banner-text h3 {
  position: absolute;
  bottom: 2rem;
  color: var(--color-primary);
  font-size: 4.5rem;
}

.banner-text a::after {
  left: 0.3rem;
}

/* Banner styles ends */

/* About-Us-Page styles starts */

.title-under-line {
  height: 3px;
  background: var(--color-secondary);
  margin: 0rem auto;
  width: 20%;
  float: left;
  flex: 1;
}

.title-under-line-center {
  height: 3px;
  background: var(--color-secondary);
  margin: 0.3rem auto;
  width: 10%;
  flex: 1;
}

.row-divider {
  height: 3px;
  background: var(--color-headings);
  margin: 1.7rem auto;
  flex: 1;
}

.contents-parent {
  background-color: var(--color-primary);
  padding: 5% 1%;
}

.about-us-image {
  border: none;
  padding: 0;
  border-radius: 35px;
}

.about-text {
  font-family: var(--abel-font);
  color: #000;
  font-size: 1rem;
  text-align: justify;
  padding: 0 1rem;
}

.staff-text {
  font-family: var(--abel-font);
  color: #000;
  font-size: 1rem;
}

.staff-image {
  border-radius: 95px;
}

@media screen and (min-width: 760px) {
  .contents-parent {
    background-color: var(--color-primary);
    padding: 2% 10%;
  }

  .about-text {
    padding: 0;
  }
}
/* About-Us-Page styles end */

/* Restaurant-Page styles start */

.restaurant-first-row {
  background-image: url(../public/images/foodPlate.png);
  background-repeat: no-repeat;
  background-size: 50% 100%;
  padding: 13% 0 0 30%;
}

.shadowCard {
  -moz-box-shadow: 3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow: 0px 5px 20px 1px lightgray;
}
/* Restaurant-Page styles end */

/* Restaurant Page Styles Starts */
.room-header {
  padding: 0.5rem;
  text-align: center;
}

.restaurant-text {
  font-family: var(--abel-font);
  font-size: 1rem;
}

.restaurant-button {
  border: 0;
  background: var(--color-secondary) !important;
  border-radius: 5px;
  padding: 0.3rem;
  font-family: var(--abel-font);
  text-transform: capitalize;
  font-weight: 600;
}

@media screen and (min-width: 760px) {
  .restaurant-text {
    font-size: 1.1rem;
  }
}
/* Restaurant Page Styles ends */

/* Single Room Style starts */
.room-service-card {
  margin: 0.5rem 0;
}

.room-service ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgb(236, 236, 236);
  flex-wrap: wrap;
  border-radius: 5px;
}

.room-service ul li {
  padding: 0.3rem 0;
  font-family: var(--abel-font);
}

.room-service ul i {
  padding-right: 0.5rem;
}

.service-description {
  padding: 0.2rem;
  font-size: 1rem;
  font-family: var(--abel-font);
}

.service-description button {
  background: var(--color-secondary);
  border-radius: 5px;
  font-size: 1rem;
  padding: 0.5rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
  width: 100%;
}

@media screen and (min-width: 760px) {
  .room-service ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 5px;
    background: rgb(236, 236, 236);
  }
  .room-service ul li {
    padding: 0.5rem 0.5rem;
    font-size: 1.2rem;
  }

  .room-service ul i {
    padding-right: 0.5rem;
  }

  .service-description button {
    background: var(--color-secondary);
    border-radius: 5px;
    font-size: 1rem;
    padding: 0.5rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
    width: 16rem;
    float: right;
    text-transform: uppercase;
  }

  .room-image {
    margin-right: 5px !important;
  }
}

/* Single Room Style ends */

input[type='date']::-webkit-inner-spin-button,
input[type='date']::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
  opacity: 0;
}

/* Booking Style starts */
.room-type-image {
  box-shadow: 0px 5px 20px 1px lightgray;
  border-radius: 3%;
  border: none;
}

/* Booking Style ends */

/* Blog Styles starts */

.blog-description {
  text-align: justify;
  font-size: 1rem;
  padding: 0 0.5rem 5rem 0.5rem;
}

.blog-heading {
  text-align: center;
  padding: 0 1rem;
}

/* Blog Styles ends */

/* Booking CASE starts */

.booking-case {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(119, 114, 114, 0.5);
  border-radius: 16px;
  padding: 0.8rem;
  margin: 0.5rem 1rem 0.4rem 1rem;
}

.booking-case button {
  background: var(--color-secondary);
  border-radius: 10px;
  border: none;
  color: var(--color-primary);
  font-weight: 600;
  margin: 0.8rem 0 0 0;
  padding: 0.5rem;
  text-transform: uppercase;
  display: block;
  width: 95%;
}

.icon-label {
  color: var(--color-primary);
  font-size: 0.8rem;
  font-weight: 600;
  padding: 0.5rem 0 0 0.4rem;
  font-family: 'Abel', sans-serif;
}

@media screen and (min-width: 760px) {
  .booking-case {
    display: flex;
    flex-direction: row;
    padding: 0.6rem;
    margin: 0 0 1rem 0;
    border-radius: 10px;
  }

  .icon-label {
    font-size: 0.9rem;
    padding: 0.1rem 0.4rem;
  }

  .booking-case button {
    border-radius: 7px;
    border: none;
    color: var(--color-primary);
    font-weight: 600;
    font-family: var(--abel-font);
    margin: 1.5rem 0.7rem 0 0;
    padding: 0.3rem;
    text-transform: uppercase;
    display: block;
    width: 50%;
  }

  .booking-case button:hover {
    background: #ffd730;
  }
}

/* Booking CASE ends */

/* Showcase Buttons style starts */
.input {
  width: 95%;
  padding: 8px;
  border-radius: 10px;
  border: none;
  background: #e6dddd;
  font-family: var(--abel-font);
}

.icon-inside {
  width: 100%;
  position: relative;
  margin: 0 0 0 1rem;
}

.icon-inside i {
  position: absolute;
  right: 2rem;
  top: 2.5rem;
  color: var(--color-accent);
}

@media screen and (min-width: 760px) {
  .input {
    width: 90%;
    padding: 8px;
    margin: 1px;
    border-radius: 10px;
    border: none;
  }

  .icon-inside {
    width: 80%;
    position: relative;
    margin: 0 1rem;
  }
}

/* Showcase Buttons style ends */
